/*header*/
body * {
  font-family: "Poppins", sans-serif;
}

.main_menu_area .header-social-right ul:before,
.main_menu_area .logo:before {
  content: none;
}
/*SECTION TITLE*/
.hero-section-title h4 {
  color: #c49b60;
}

.hero-section-title h1 {
  color: #22354b;
}

.hero-section-title .titleDecoration {
  content: "";
  background: red;
  width: 50px;
  height: 7px;
  z-index: 5;
  margin: auto;
}

.showcase {
    width: 100%;
  }
  
  .showcase img {
    width: 100%;
    height: auto;
  }
  
  .showcase .content {
    width: 100%;
    height: auto;
    padding: 25px;
    background-image: linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
    background-image: -o-linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
    background-image: -moz-linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
    background-image: -webkit-linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
    background-image: -ms-linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
    background-image: linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
  }
  
  .showcase h4 {
    margin-bottom: 25px;
    color: #22354b;
  }
  
  .showcase p {
    color: #22354b;
  }
  
  .showcase a:link,
  .showcase a:visited {
    display: block;
    background-color: #c49b60;
    width: 119px;
    border-radius: 25px;
    margin: 25px auto;
    color: #fff;
  }
  
  .showcase a:hover {
    color: #22354b;
  }

  .clear{
    clear: both;
  }

/********************************************/
/************** blue bar ********************/
/********************************************/
#blueBar {
  background-color: #22354b;
  color: #b0b8c5;
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 9px;
}

#blueBar .container div {
  float: left;
}

/*blue bar phones area*/
#blueBar .phones span {
  display: block;
  width: 10px;
  height: 12px;
  float: left;
  margin: 15px 5px 0px 30px;
}

#blueBar .phones div:first-child span {
  margin-left: 0px;
}

#blueBar .phones span.phone {
  background-image: url("./../images/icons/phone_icon.jpg");
}

#blueBar .phones span.mail {
  background-image: url("./../images/icons/mail_icon.jpg");
}

#blueBar .phones span.clock {
  background-image: url("./../images/icons/colck_icon.jpg");
}

/*blue bar social area*/
#blueBar .social {
  margin-left: 45px;
}

#blueBar .social a {
  display: block;
  width: 7px;
  height: 8px;
  float: left;
  margin: 16px 3px;
  background-size: 100%;
}

#blueBar .social a.facebook {
  background-image: url("./../images/icons/facebook_icon.jpg");
}

#blueBar .social a.instagram {
  background-image: url("./../images/icons/instagram_icon.jpg");
}

#blueBar .social a.twitter {
  background-image: url("./../images/icons/twitter_icon.jpg");
}

#blueBar .social a.youtube {
  background-image: url("./../images/icons/youtube_iocn.jpg");
}

/*blue bar clime area*/
#blueBar .clime {
  width: 130px;
  height: 40px;
  margin-left: 35px;
}

#blueBar .clime div {
  height: 40px;
  margin-left: 10px;
  background-repeat: no-repeat;
  text-align: right;
  font-size: 9px;
  width: 26px;
}

#blueBar .clime div.thermometer {
  width: 37px;
  background-position: 0px 12px;
  background-image: url(./../images/icons/clime_icon.jpg);
  font-size: 15px;
}

#blueBar .clime div.max {
  background-position: 0px 12px;
  background-image: url(./../images/icons/arrowup_icon.jpg);
}

#blueBar .clime div.min {
  background-position: 0px 12px;
  background-image: url(./../images/icons/arrowdown_icon.jpg);
}

/*blue bar clime area*/
#blueBar .selectContainer {
  width: 130px;
  height: 40px;
  margin-left: 35px;
}

#blueBar .selectContainer select {
  height: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  width: 100px;
  line-height: 20px;
  padding-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  margin-right: 2rem;
  background-position: 100% 0px;
}

/*blue bar flags area*/
#blueBar .flags {
  width: 100px;
  height: 40px;
  background-size: 100%;
}

#blueBar .flags a {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  margin: 11px 8px;
  background-size: 100%;
}

#blueBar .flags a.br {
  background-image: url(./../images/icons/br_icon.jpg);
}

#blueBar .flags a.en {
  background-image: url(./../images/icons/en_icon.jpg);
}

#blueBar .flags a.es {
  background-image: url(./../images/icons/es_icon.jpg);
}
/* end blue bar */

/********************************************/
/***************** Menu *********************/
/********************************************/
.main_menu_area {
  background-image: linear-gradient(top #fff 80%, #dfe5ef 20%);
  background-image: -o-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: -moz-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: -webkit-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: -ms-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: linear-gradient(top, #fff 24%, #dfe5ef 62%);
}

.main_menu_area .navbar-default .navbar-nav > li > a {
  color: #22354b;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 400;
  font-size: 10px;
}

.main_menu_area nav.navbar.navbar-default .social_icon_flex {
  width: 128px;
  font-size: 14px;
}

.header-social-right a:link,
.header-social-right a:visited {
  background: red;
  text-align: center;
  border-radius: 25px;
  line-height: 35px;
  color: #fff;
}

/********************************************/
/***************** Baner ********************/
/********************************************/
.header_slider_bg {
  background-image: url(./../images/baner.jpg);
  background-size: cover;
  height: 550px;
}

.header_slider_bg::before {
  content: none;
}

.txt-container {
  position: absolute;
  bottom: 0px;
}

.header_slide_text h1 {
  font-size: 36px;
  font-weight: 400;
  padding: 9px 110px 44px 0;
  color: #fff;
  padding-bottom: 0px;
}

.header_slide_text p {
  color: #fff;
  font-size: 18px;
  margin: 20px 0px;
}

.header_slide_text a.btn-orange {
  margin-bottom: 32px;
  padding: 2px 49px;
  background: #c49b60;
  border-radius: 25px;
  font-weight: 400;
}

.header_slide_text a.btn-orange:hover {
  color: #22354b;
}

/********************************************/
/************* products area ****************/
/********************************************/

.slider_service_area {
  background-image: linear-gradient(top #fff 80%, #dfe5ef 20%);
  background-image: -o-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: -moz-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: -webkit-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: -ms-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: linear-gradient(top, #fff 24%, #dfe5ef 62%);
}


/********************************************/
/*************** about area *****************/
/********************************************/
.about_area.gray_bg {
  background-image: url(./../images/blueBanner.jpg);
  background-size: cover;
}

.about_area.gray_bg::before {
  background-image: url(./../images/houseBanner.jpg);
  background-size: cover;
}

.about_details h4,
.about_details h1,
.about_details p,
.about_details a:link,
.about_details a:visited {
  color: #fff;
}

.about_details h1 {
  font-weight: 300;
  font-size: 48px;
}

.about_details a:link,
.about_details a:visited {
  color: #fff;
  background: #22354b;
  padding: 12px 25px;
  border-radius: 25px;
}

.about_details a:hover {
  color: lightgray;
}

/********************************************/
/*********** numbers bar area ***************/
/********************************************/

.testimonial_area {
  background-color: #22354b;
  min-height: 35px;
  width: 100%;
  color: #fff;
  padding: 55px 0px;
}
.testimonial_area img {
  width: 55px;
  height: 55px;
}

.numberContainer {
  text-align: center;
  margin-bottom: 35px;
  min-height: 170px;
}

.numberContainer .number {
  color: #2d9abf;
  font-size: 28px;
  font-weight: 600;
  margin-top: 16px;
  display: block;
}

/********************************************/
/************* map area area ****************/
/********************************************/
.why_choose_us_area {
  background: url(./../images/home_map_bg.jpg) center center fixed no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  text-align: left;
}

.why_choose_us_area::before {
  content: none;
}

.why_choose_us_area img {
  width: 100%;
  height: auto;
}

.map_details h4,
.map_details h1,
.map_details p,
.map_details a:link,
.map_details a:visited {
  color: #fff !important;
}

.map_details h1 {
  font-weight: 300;
  font-size: 48px;
}

.map_details a:link,
.map_details a:visited {
  color: #fff !important;
  background: #c49b60 !important;
  padding: 12px 25px !important;
  border-radius: 25px !important;
}

.map_details a:hover {
  color: lightgray;
}


/********************************************/
/****************** blog ********************/
/********************************************/
.blog_area{
    background-image: linear-gradient(top #fff 80%, #dfe5ef 20%);
    background-image: -o-linear-gradient(top, #fff 24%, #dfe5ef 62%);
    background-image: -moz-linear-gradient(top, #fff 24%, #dfe5ef 62%);
    background-image: -webkit-linear-gradient(top, #fff 24%, #dfe5ef 62%);
    background-image: -ms-linear-gradient(top, #fff 24%, #dfe5ef 62%);
    background-image: linear-gradient(top, #fff 24%, #dfe5ef 62%);
}

.blog_area h4{
    color: #c49b60;
}

.blog_area p{
    color:#22354b;
}

.blog_area .date{
    background-color: #22354b;
    width: 119px;
    border-radius: 25px;
    margin: -17px auto 45px -60px;
    color: #fff;
    z-index: 5;
    position: absolute;
    left: 50%;
}

.blog_area .content{
    margin-top: 20px;
}


/********************************************/
/************* testimonials *****************/
/********************************************/

.testimonials_area .owlcontainer{
  width: 75%;
  margin: auto;
}

.testimonials_area{
  background-image: linear-gradient(top #fff 80%, #dfe5ef 20%);
  background-image: -o-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: -moz-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: -webkit-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: -ms-linear-gradient(top, #fff 24%, #dfe5ef 62%);
  background-image: linear-gradient(top, #fff 24%, #dfe5ef 62%);

}

.testimonials_area .hv2_slider_bg {
  position: relative;
  z-index: 1;
  padding: 0px;
  min-height: 112px;
  width: 90%;
  margin: auto;
  background-image: linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
  background-image: -o-linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
  background-image: -moz-linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
  background-image: -webkit-linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
  background-image: -ms-linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
  background-image: linear-gradient(bottom, #fff 45%, #dfe5ef 80%);
  font-size: 12px;
  line-height: 13px;
}

.testimonials_area .hv2_slider_bg::before{
  content: none;
}

.testimonials_area .container-fluids{
  background-color: yellowgreen;
}

.testimonials_area .hv2_slider_bg img{
  width: 100% !important;
}

.testimonials_area .hv2_slider_bg .content{
  width: 100%;
  margin-right: 5%;
  text-align: left;
}

.testimonials_area .hv2_slider_bg .content h4{
  margin-bottom: 5px;
}

.testimonials_area .hv2_slider_bg .content h6{
  color: #c49b60;
  margin-bottom: 25px;
}

.testimonials_area .hv2_slider_bg .content p{
  font-size: 14px;
  line-height: 18px;
}

.testimonials_area .hv2_slider_area .owl-nav{
  top: 28%;
  width: 129%;
  left: -14%;
}


/********************************************/
/***************** Footer *******************/
/********************************************/

.footer_section{
  background-image: url(./../images/footer_bg.jpg);
  background-size: cover;
  background-color: none;
  border-top:none
}
.footer_box.service{
  padding: 0px;
}
.footer_box h3{
  color: #c49b60;
}

.footer_box h3::before{
  content: '';
  position: absolute;
  top: 35px;
  left: 16px;
  width: 47px;
  height: 2px;
  background-color: #c49b60;
}

.footer_box span {
  display: block;
  width: 10px;
  height: 12px;
  float: left;
  margin: 9px 10px 0px 0px;
}

.footer_box  span.phone {
  background-image: url("./../images/icons/phone_icon.jpg");
}

.footer_box  span.mail {
  background-image: url("./../images/icons/mail_icon.jpg");
}

.footer_box  span.clock {
  background-image: url("./../images/icons/colck_icon.jpg");
}

.footer_box ul li a:hover{
  color: #c49b60;
}

.footer_box ul li a.orcamento{
  background: red;
  text-align: center;
  border-radius: 25px;
  line-height: 35px;
  color: #fff;
  width: 150px;
  margin-top: 30px;
}

.copyright_area{
  background-color: #22354b;
}

.copyright_area .copyright_left .social_media li a{
  background: none;
  color: #c49b60;
}

.copyright_area .copyright_left .social_media li a:hover{
  background: #c49b60;
  color: #fff;
}

.copyright_area .copyright_left .social_media li a:before{
  background-color: #c49b60;
}



/******************************************************************************************************/
/******************************************* Internas *************************************************/
/******************************************************************************************************/


/********************************************/
/************* Prod Detalhe *****************/
/********************************************/
.breadcrumb_area{
  background-image: url(./../images/banner-internas.jpg);
  background-size: cover;
  border-bottom: 10px solid #2d9abf;
}

.breadcrumb_area .hero-section-title h1{
  color: #fff;;
}

.breadcrumb-item{
  color: #c49b60 !important;
}

.breadcrumb-item a{
  color: #c49b60;
}

 .breadcrumb-item a:hover{
  color:#fff !important;
}

.breadcrumb > li + li:before{
  color: #c49b60;
}

/* barra azul om o titulo */
.bannerProd{
  width: 100%;
  height: 100%;
}

/*slider*/
.prouto-detalhe .slider-prod{
  padding: 0px;
  position: relative;
}

.prouto-detalhe .owl-carousel .owl-nav{
    position: absolute;
    width: 100%;
    top: 50%;
}

.slider-prod .owl-nav button{
  width: 65px;
  height: 65px;
  background: gray !important;
  opacity: 0.6;
  border: none;
  padding: 0!important;
  font: inherit;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 60px;
}

.slider-prod .owl-nav button i {
  font-size: 24px;
  color: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 65px;
}

.prouto-detalhe .owl-carousel .owl-nav button.owl-prev{
  left: 0px;
}

.prouto-detalhe .owl-carousel .owl-nav button.owl-next{
  left: 90%;
}

/*formulario*/
.container-form{
  background: #2d9abf;
  border-radius: 5xp;
}
.container-form h3,
.prouto-detalhe .service_widgets h3{
  color: #fff;
  padding: 35px 0px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
}

.container-form .submit{
  background-color: #22354b;
  margin: 35px 0px 10px 0px;
  border-radius: 35px;
}

.prouto-detalhe .prod-content h3{
text-align: left;
    margin-bottom: 25px;
}

.prouto-detalhe .prod-content p{
  color: #969da9;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 17px;
}
.prouto-detalhe  .service_widgets{
  margin-top: 72px;
    padding: 30px;
    background-image: linear-gradient(bottom, #fff 19%, #dfe5ef 100%);
    background-image: -o-linear-gradient(bottom, #fff 19%, #dfe5ef 100%);
    background-image: -moz-linear-gradient(bottom, #fff 19%, #dfe5ef 100%);
    background-image: -webkit-linear-gradient(bottom, #fff 19%, #dfe5ef 100%);
    background-image: -ms-linear-gradient(bottom, #fff 19%, #dfe5ef 100%);
    background-image: linear-gradient(bottom, #fff 19%, #dfe5ef 100%);
}

.prouto-detalhe .service_widgets ul li{
  border-bottom: 2px solid #dae0ea;
}

.prouto-detalhe .service_widgets ul li a i{
  float: left;
  color: #2d9abf;
}

.prouto-detalhe .service_widgets ul li a{
  text-align: left;
  color: #22354b;
}

.prouto-detalhe .service_widgets h3{
  color: #22354b;
  padding: 0px;
}
.prouto-detalhe .service_widgets img{
  width: 100%;
}

.prouto-detalhe .related{
  text-align: left;
    margin: 0px 0px 15px 20px;
}


/********************************************/
/************* Istitucional *****************/
/********************************************/
.institucional .about_area {
  background-image: none;
  color: #22354b !important;
  background: #fff;
  margin-top: 150px;
}

.institucional .about_area h1{
  color: #22354b;
}

.institucional .about_area p{
  color: #22354b;
}

.institucional .about_area h4{
  color: #c49b60
}

.institucional .about_details{
  padding: 0px 0 115px 0;
}

.institucional .instituional-icon{
  width: 25%;
  margin: 40px 0px 60px 0px;
}

.institucional .blog_area h4{
  color: #22354b;
}

/********************************************/
/************* media queries ****************/
/********************************************/

@media (min-width: 1px) {
  #blueBar {
    display: none;
  }
  .main_menu_area nav.navbar.navbar-default .navbar_flex {
    width: 100%;
  }
}

@media (min-width: 576px) {
  #blueBar {
    display: none;
  }
  .main_menu_area nav.navbar.navbar-default .navbar_flex {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #blueBar {
    display: none;
  }
  .main_menu_area nav.navbar.navbar-default .navbar_flex {
    width: 100%;
  }
  .testimonials_area .hv2_slider_bg img{
    float: left;
    width: 30% !important;
  }
  
  .testimonials_area .hv2_slider_bg .content{
    float: right;
    width: 60%;
    margin-right: 5%;
  }
}

@media (min-width: 992px) {
  #blueBar {
    display: none;
  }
  .main_menu_area nav.navbar.navbar-default .navbar_flex {
    width: 65%;
  }
  .main_menu_area nav.navbar.navbar-default .social_icon_flex {
    width: 250px;
  }
}

@media (min-width: 1200px) {
  #blueBar {
    display: block;
  }
  .main_menu_area nav.navbar.navbar-default .navbar_flex {
    width: 65%;
  }
  .main_menu_area nav.navbar.navbar-default .social_icon_flex {
    width: 250px;
  }
  .header_slider_bg {
    height: 850px;
  }
  .txt-container {
    bottom: 40px;
    left: 40px;
  }
  .txt-container h1 {
    font-size: 50px;
  }
  .showcase p {
    font-size: 16px;
    line-height: 24px;
  }
  .numberContainer {
    margin-bottom: 0px;
  }

  .map_details {
    margin-top: 150px;
  }
  .map_details .hero-section-title{
      margin-bottom: 35px;
  }
}
